.bundesligaTopScorers-table {
    margin-left: 1%;
    font-size: 18pt;
}

#bundesligaTopScorers-player-ranking {
    padding-left: 1.3%;
    font-size: 19pt;
}

.bundesligaTopScorers-h1 {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}


#bundesligaTopScorers-goal-count{
    font-size: 19pt;
}