.ligue1TopScorers-table {
    margin-left: 1%;
    font-size: 18pt;
}

#ligue1TopScorers-player-ranking {
    padding-left: 1.3%;
    font-size: 19pt;
}

.ligue1TopScorers-h1 {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}


#ligue1TopScorers-goal-count{
    font-size: 19pt;
}